<br />
<center>
  <h2>Let's save some sites for later, shall we?</h2>
  <br />
  <br />
  <p>What do you want to do first?</p>
  <p><a href="/bookmarks">Browse bookmarks</a></p>
  <p><a href="/bookmarks/new">Create a new</a></p>
  <p><a href="/">Go where the wind takes you (nonfunctional)</a></p>
</center>