<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Bookmarker Application</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <center>
      <h1>The Bookmarker</h1>
      <nav>
        <ul>
          <li><a href="/bookmarks" class='bueton'>Home</a></li>
          <li><a href="/bookmarks/new" class='bueton'>New</a></li>
          <li><a href="/bookmarks/surprise" class='bueton'>Surprise Link</a></li>
        </ul>
      </nav>
      <br />
    </center>
  </header>
  <div class='mainbody'>
    <%= yield %>
  </div>

</body>
</html>