body {
  background-color: darkblue;
  color: #FFC800;
  font-family: Arial, Helvetica, 'Times New Roman';
  width: 960px;
  margin: 0px auto 0px auto;
}

nav ul {
  list-style-type: none;
}

.search {
  display: inline;
}

nav li {
  display: inline;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

header {
  background: linear-gradient(90deg, darkblue, blue, darkblue);
  padding-top: 10px;
  padding-bottom: 20px;
}

.mainbody {
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
}

.sidenav {
  width: 200px;
  float: left;
  padding-left: 160px;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav li {
  display: block;
}

.content {
  width: 600px;
  float: right;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0
}
dd {
  float: right;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0
}

textarea {
    width: 305px;
    height: 150px;
}

button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: transparent;
  border: 1px #FFFFFF solid;
  color: #FFFFFF;
}

.bueton {
  border-radius: 5px;
  font: 12px Arial;
  text-decoration: none;
  border: 1px #FFFFFF solid;
  color: #FFFFFF;
  padding: 5px;
}