<br />
<center>
  <h2>Edit Bookmark</h2>
</center>
<br />
<div class='mainbody'
<form method='post' action='/bookmarks/<%= @bookmark.id %>'>
<%= erb :'bookmarks/_form' %>
  <br />
  <center>
    <button>Update Bookmark</button>
  </center>
</form>
</div>