<br />
<center>
  <h2>New Bookmark</h2>
</center>
<br />
<form method='post' action='/bookmarks'>
<%= erb :'bookmarks/_form' %>
  <br />
  <center>
    <button>Add Bookmark</button>
  </center>
</form>